langchain
openai
python-dotenv
ipykernel
llama-index
langsmith
langchain-community
tiktoken
langchain-ollama
newspaper3k
lxml_html_clean
pyvis
nltk
spacy
unstructured
selenium
langchain-openai
faiss-cpu
langchain-huggingface
sentence-transformers
scikit-learn
cohere
langchain_cohere
yt_dlp
git+https://github.com/openai/whisper.git
transformers
librosa
ffmpeg
langgraph